*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
/**cleaning **/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


.wrapper{
  display:grid;
  grid-template-columns: 47% 47% 6%;
  grid-template-rows: 10% 10% 80%;
  width: 100vw;
  height: 100vh;
}

/** healthcare, gender equality and educational system tag style syntax**/
.healthcare-tag, .healthcare-tag:visited, .gender-equality-tag,.gender-equality-tag:visited, .educational-system-tag, .educational-system-tag:visited{
  color: black;
  text-decoration: none;
}
.healthcare-tag:hover,.gender-equality-tag:hover,.educational-system-tag:hover{
  color:#00A0C6; 
  text-decoration:none; 
  cursor:pointer;  
}

/**Grid display format**/
/**first grid **/
.toppane{
  grid-column-start:1;
  grid-column-end: 4;
  grid-row-start:1;
  grid-row-end: 2;
  position:fixed;
  border-collapse: collapse;
  background-color: white;
  font-family: 'Roboto Mono', monospace;
  z-index: 1999;
}


/**PUBLIC PRIVACY title format**/
/**second grid**/
.leftpane-header{
  grid-column-start:1;
  grid-column-end: 2;
  grid-row-start:2;
  grid-row-end: 3;
  float: right;  /**!!*/
  background-color: #696969;
  border-collapse: collapse;
  overflow: auto;	  
}

/**third grid**/
.leftpane-content{
  grid-column-start:1;
  grid-column-end: 2;
  grid-row-start:3;
  grid-row-end: 4;
  float: flex left;
  background-color: #696969;
  border-collapse: collapse;
  overflow: auto;	  /**The CSS overflow property controls what happens to content that is too big to fit into an area.**/
}

/**fourth grid**/
.middlepane-header{
  grid-column-start:2;
  grid-column-end: 3;
  grid-row-start:2;
  grid-row-end: 3;
  float: left;  /**!!*/
  background-color: gray;
  border-collapse: collapse;
  overflow: auto;	   
}

.middlepane-header h1{
  font-family:'Roboto Mono', monospace;
  font-size:4rem;
  color:white;
  position:left;
  z-index: 999;
}

.preamble{
  font-family:'Roboto Mono', monospace;
  font-size:2rem;
  line-height:2rem;
  color: color:rgb(44,44,44);
  position:center;
  display: inline-block;
  margin:50px 50px 50px 50px;
  text-align: -webkit-center;
}

.healthcare-public-preamble{
  font-family:'Roboto Mono', monospace;
  font-size:2rem;
  line-height:2rem;
  color:rgb(44,44,44);
  text-align: left;
  display: inline-block;
  margin-bottom:0px;
  margin-top: 50px;
  margin-left:  50px;
  margin-right: 50px;
}

.healthcare-public-content{
  font-family:'Roboto Mono', monospace;
  font-size:1.5rem;
  line-height:1.5rem;
  color:rgb(44,44,44);
  text-align: left;
  display: inline-block;
  margin-bottom:25px;
  margin-top: 25px;
  margin-left:  50px;
  margin-right: 50px;
}

.healthcare-private-preamble{
  font-family:'Roboto Mono', monospace;
  font-size:2rem;
  line-height:2rem;
  color:rgb(44,44,44);
  position:center;
  display: inline-block;
  margin:50px 50px 50px 50px;
  text-align: left;
}
.self-intro{   /**on page 1993**/
  font-family:'Open Sans', sans-serif;
  font-size:1.5rem;
  line-height:2rem;
  color:#D3D3D3;
  display: inline-block;
  margin:50px 50px 50px 50px;
  text-align: justify;
}

.profile_pic{
  display:inline-block;
  width:100%;
  margin-left:50px;
  margin-bottom: 50px;
  margin-top:  50px ;
}


/**fifth grid**/
.middlepane-content{
  grid-column-start:2;
  grid-column-end: 3;
  grid-row-start:3;
  grid-row-end: 4;
  float: left;
  background-color: gray;
  border-collapse: collapse;
  overflow: auto;	   
}




/**sixth grid**/
.rightpane{
  grid-column-start:3;
  grid-row-start:2;
  grid-row-end: 4;
  position:relative;
  float: right;
  background-color: white;
  border-collapse: collapse;
}

/** chronological navbar format**/
ul {
  list-style-type: none;
  padding:0;
  margin:0;
}
.year-list-item a {
  text-decoration:underline;
  font-family: 'Roboto Mono', monospace;
  font-size: 2rem;
  color: #464646;
}

/** make the left and middle section scrollbars**/
.leftpane-content > div, .middlepane-content > div {
  position: relative;
  height: flex 3000px;  /**flex?**/
}
