body {
  width: 100%;
  float: left;
}

.vertical-menu-left,
.vertical-menu-left
{
  width: 10%;
  float: left;
  height: 100%;
}

.middle-content
{
  width: 80%;
  float: left;
  height: 100%;
}


p {
  padding-top: 25px;
  text-align: center;
}
