html,body {
  width: 100%;
  float: left;
}

.vertical-menu-left
{
  width: 10%;
  float: left;
  height: 100%;
}

.vertical-menu-right
{
  width: 10%;
  float: right;
  height: 100%;
}

.middle-content
{
  width: 80%;
  float: left;
  height: 100%;
}


