html,body {
  width: 100%;
  float: left;
}

.vertical-menu-left
{
  width: 10%;
  float: left;
  height: 100%;
}

.vertical-menu-right
{
  width: 10%;
  float: right;
  height: 100%;
}

.middle-content
{
  width: 80%;
  float: left;
  height: 100%;
}


.vertical-menu-left {
  width: 200px; /* Set a width if you like */
}

.vertical-menu-left a {
  background-color: #eee; /* Grey background color */
  color: black; /* Black text color */
  display: block; /* Make the links appear below each other */
  padding: 12px; /* Add some padding */
  text-decoration: none; /* Remove underline from links */
}

.vertical-menu-left a:hover {
  background-color: #ccc; /* Dark grey background on mouse-over */
}



.vertical-menu-right {
  width: 200px; /* Set a width if you like */
}

.vertical-menu-right a {
  background-color: #eee; /* Grey background color */
  color: black; /* Black text color */
  display: block; /* Make the links appear below each other */
  padding: 12px; /* Add some padding */
  text-decoration: none; /* Remove underline from links */
}

.vertical-menu-right a:hover {
  background-color: #ccc; /* Dark grey background on mouse-over */
}

.vertical-menu-right a.active {
  background-color: #04AA6D; /* Add a green color to the "active/current" link */
  color: white;
}
